<form ng-submit="addBeer()">
    <h3>Add a new beer</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Beer Name" ng-model="name"></input>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Style" ng-model="style"></input>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="ABV" ng-model="abv"></input>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Image URL" ng-model="image"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
